@model HobbyCollection.Models.FavoriteDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Favorite</h4>
    <hr />
    <dl class="row">
        <h2>Tags</h2>
        <ul>
            @foreach (var tag in Model.TagsList)
            {
                <li>@tag.Name</li>
            }
        </ul>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Favorite.UserId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Favorite.UserId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Favorite.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Favorite.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Favorite.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Favorite.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Favorite.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Favorite.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Favorite.Image)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Favorite.Image)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Favorite.CreateDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Favorite.CreateDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Favorite.UpdateDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Favorite.UpdateDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Favorite.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
